.contenedorFlor{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.textAzul{
    color: blue;
}

.textRojo{
    color: red;
}

.textVerde{
    color: green;
}